name: First Pipeline
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: First Step
        run: echo "This is the first step of the first pipeline."
      - name: Second Step
        run: echo "This is the second step of the first pipeline."
